<!doctype html>
<html lang="en">
    <!-- CS:2420 Group 3-->
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        <title>Group 3 - Search</title>
    </head>
    
    <body>
        <div class="col d-flex justify-content-center">
            <div class="card text-center w-90">
                <div class="card-header">
                    <h2>Search Items</h2>
                </div>
                <div class="card-body">
                    {% block content %}
                    <div class="search">
                    <form action="/search" method="post">
                        <input type=text name=searchitem value="{{ request.form.searchitem}}">
                        <br><br>
                        <input type=text name=searchvendor value="{{ request.form.searchvendor}}">
                        <br><br>
                        <input type=text name=quantity value="{{ request.form.quantity}}">
                        <br><br>
                        <input type=text name=altitem value="{{ request.form.altitem}}">
                        <br><br>
                        <div class="actions"><input type=submit value="Search"></div>
                    </form>
                        <br>
                         <div> Please search for an item with name, vendor, quantity, and if alternate items are okay.</div>
                        <br>
                        <div> Please search for an item using the count as well. Example: Screws(100ct.)</div>
                    </div>
                    {% for message in get_flashed_messages() %}
                    <div class=flash>
                        {{ message }}
                    </div>
                    {% endfor %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>