<!doctype html>
<html lang="en">
    <!-- CS:2420 Group 3-->
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        <title>Group 3 - Manager Home</title>
    </head>
    
    <body>
        <div class="col d-flex justify-content-center">
            <div class="container-fluid">
                <div class="card text-center w-90">
                      <div class="card-header">
                        <ul class="nav nav-tabs card-header-tabs">
                          <li class="nav-item">
                            <a class="nav-link active" href="#">Home</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="#">Material Indents</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="#">Purchase Orders</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="#">Receipts</a>
                          </li>
                        </ul>
                      </div>
                    <div class="card-body">
                        <h2>Manager Home</h2>
                        <p>Welcome! Please click a tab to begin your work!</p>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>